<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Hogwarts</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/webfontkit-20200129-100216/stylesheet.css">
  </head>
  <body>

    <h1>Welcome to the Wizarding World</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/houses">Houses</a></li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
