
@font-face {
    font-family: 'harry_potterregular';
    src: url('harrypotter-ov4z-webfont.woff2') format('woff2'),
         url('harrypotter-ov4z-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{
  font-family: 'harry_potterregular';
  text-align: center;
}

ul{
  display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
  font-family: 'harry_potterregular';
  text-decoration: none;
  font-size: 7vh;
  color: white;
}
a:hover{
  color: maroon;
}
